container_commands:
  01_migrate:
    command: "django-admin migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "django-admin collectstatic --noinput"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "applaude_api.settings.production"
  aws:elasticbeanstalk:environment:process:default:
    Procfile: "Procfile"
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /health/ # Add a health check endpoint in your urls.py
