files:
  "/etc/supervisor/conf.d/celery.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [program:celery_worker]
      command=/var/app/venv/staging-LQM1lest/bin/celery -A applaude_api worker --loglevel=INFO
      directory=/var/app/current/backend
      user=webapp
      numprocs=1
      stdout_logfile=/var/log/celery-worker.log
      stderr_logfile=/var/log/celery-worker.err.log
      autostart=true
      autorestart=true
      startsecs=10
      stopwaitsecs=600
      killasgroup=true
      priority=998

      [program:celery_beat]
      command=/var/app/venv/staging-LQM1lest/bin/celery -A applaude_api beat -l info --scheduler django_celery_beat.schedulers:DatabaseScheduler
      directory=/var/app/current/backend
      user=webapp
      numprocs=1
      stdout_logfile=/var/log/celery-beat.log
      stderr_logfile=/var/log/celery-beat.err.log
      autostart=true
      autorestart=true
      startsecs=10
      stopwaitsecs=600
      killasgroup=true
      priority=999

container_commands:
  01_install_supervisor:
    command: "pip install supervisor"
    leader_only: true
  02_supervisord_start:
    command: "supervisord -c /etc/supervisor/supervisord.conf"
    leader_only: true
