files:
  /etc/supervisor/conf.d/celery_worker.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      [program:celery_worker]
      command=/usr/local/bin/celery -A applaude_api.celery worker --loglevel=INFO -Q high_priority,default
      directory=/var/app/current
      user=webapp
      numprocs=1
      stdout_logfile=/var/log/celery_worker.log
      stderr_logfile=/var/log/celery_worker.log
      autostart=true
      autorestart=true
      startsecs=10
      stopwaitsecs=600
      killasgroup=true
      priority=998

  /etc/supervisor/conf.d/celery_beat.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      [program:celery_beat]
      command=/usr/local/bin/celery -A applaude_api.celery beat -l INFO --scheduler django_celery_beat.schedulers:DatabaseScheduler
      directory=/var/app/current
      user=webapp
      numprocs=1
      stdout_logfile=/var/log/celery_beat.log
      stderr_logfile=/var/log/celery_beat.log
      autostart=true
      autorestart=true
      startsecs=10
      stopwaitsecs=600
      killasgroup=true
      priority=999

container_commands:
  01_restart_supervisor:
    command: "supervisorctl reread && supervisorctl update && supervisorctl restart all"
    leader_only: true
