option_settings:
  aws:rds:dbinstance:
    DBInstanceClass: db.t3.micro
    DBEngine: mysql
    DBEngineVersion: 8.0
    DBUser: "admin"
    DBPassword: "yoursecurepassword" # Replace with a strong password or use Secrets Manager
    DBName: "applaude_prod"
    MultiAZ: "true" # For high availability
    BackupRetentionPeriod: "7" # Days
    CopyTagsToSnapshot: "true"
    DeleteAutomatedBackups: "false"
