Resources:
  EBHealthCheck:
    Type: AWS::Route53::HealthCheck
    Properties:
      HealthCheckConfig:
        Type: HTTP
        ResourcePath: / # Or a specific health check endpoint
        FullyQualifiedDomainName: { "Fn::GetAtt" : [ "AWSEBEnvironmentName" , "EndpointURL" ] }
        RequestInterval: 30
        FailureThreshold: 3
  MyDNSRecord:
    Type: AWS::Route53::RecordSetGroup
    Properties:
      HostedZoneName: "applaude.ai." # Replace with your domain
      RecordSets:
      - Name: "app.applaude.ai." # Replace with your desired subdomain
        Type: CNAME
        TTL: '300'
        SetIdentifier: Primary
        HealthCheckId: !Ref EBHealthCheck
        Failover: PRIMARY
        ResourceRecords:
        - { "Fn::GetAtt" : [ "AWSEBEnvironmentName", "EndpointURL" ] }
      - Name: "app.applaude.ai." # Replace with your desired subdomain
        Type: CNAME
        TTL: '300'
        SetIdentifier: Secondary
        Failover: SECONDARY
        ResourceRecords:
        - "maintenance.s3-website-us-east-1.amazonaws.com" # Replace with your S3 static site endpoint
