container_commands:
  01_install_supervisor:
    command: "pip install supervisor"
    leader_only: true
  02_setup_celery_conf:
    command: |
      cat > /etc/supervisor/conf.d/celery.conf <<EOF
      [program:celery_worker]
      command=/path/to/your/virtualenv/bin/celery -A applaude_api worker --loglevel=info
      directory=/var/app/current/backend
      user=webapp
      autostart=true
      autorestart=true
      stdout_logfile=/var/log/celery-worker.log
      stderr_logfile=/var/log/celery-worker.err.log

      [program:celery_beat]
      command=/path/to/your/virtualenv/bin/celery -A applaude_api beat -l info --scheduler django_celery_beat.schedulers:DatabaseScheduler
      directory=/var/app/current/backend
      user=webapp
      autostart=true
      autorestart=true
      stdout_logfile=/var/log/celery-beat.log
      stderr_logfile=/var/log/celery-beat.err.log
      EOF
    leader_only: true
  03_supervisord_start:
    command: "/usr/local/bin/supervisord -c /etc/supervisor/supervisord.conf"
    leader_only: true
